/* Primary Blue Color: #38B6FF */
:root {
  --primary-blue-color: #38b6ff;
  --darker-blue-color: #329cda;
  --hover-blue-color: #2b8ec7;
  --hover-blue-secondary: #8accf1;
  --light-grey: rgb(163, 162, 162);
}

a {
  color: inherit;
}

a:hover {
  background-color: inherit;
  color: inherit;
}

.feedContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 4rem;
  position: relative;
}

.leftBar {
  width: 25%;
  display: flex;
  flex-direction: column;
  max-height: max-content;
  min-width: 18rem;
  justify-self: center;
}

.feed {
  width: 60%;
  padding: 0 2rem;
}

/* .rightBar {
  width: 15%;
} */

.postBody:focus {
  min-height: 5rem;
  transition: all 10s;
  padding-top: 10px;
}

.feedTab {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: auto;
  padding: 0.5rem 0;
  color: grey;
}

.feedTab > a {
  width: 50%;
  justify-content: center;
  text-align: center;
}

.feedTab > a:hover {
  font-weight: bold;
  transform: 0.3s;
}

.tabActive {
  font-weight: bold;
  color: var(--primary-blue-color);
}

.noPosts {
  text-align: center;
  color: grey;
  font-style: italic;
  font-size: 0.8rem;
  padding: 1.5rem 0;
  background-color: white;
}

.loadMoreButton {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 0.5rem 1.2rem;
  margin-top: 1rem;
  font-size: 1rem;
  background-color: var(--primary-blue-color);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  min-width: 8rem;
  transition: min-width 0.5s ease-in;
}

.loadMoreButton:hover {
  background-color: var(--darker-blue-color);
  transition: 0.2s ease-in-out;
}

.statusCardContainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: auto;
  justify-content: center;
}

/* FeedItem */
.feedItemContainer {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  outline: transparent;
  position: relative;
}

.feedItemContainer:hover {
  outline: 0.5px solid rgba(211, 211, 211, 0.3);
  box-shadow: 3px 3px 2px rgba(211, 211, 211, 0.3);
  transition: 0.5s;
}

.itemDetails {
  padding: 0 0.5rem;
  width: 100%;
  margin: 0 auto;
}

.itemUser {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
}

.itemUser:hover {
  cursor: pointer;
}

.itemUserFullname {
  font-weight: bold;
  color: black;
  margin-right: 0.5rem;
}

.itemUsername {
  color: var(--darker-blue-color);
}

.feedBody {
  padding: 0.5rem 0;
}

.postImageContainer {
  max-width: 100%;
  position: relative;
  margin: 0;
}

.imageArrow {
  opacity: 60%;
  margin: 0 0.5rem;
  transition: 0.6s;
}

.imageArrow:hover {
  opacity: 100%;
}

.removePostButton {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  background-color: red;
  color: white;
  position: absolute;
  right: 0;
  padding: 0.3rem 0.3rem;
  border: none;
  border-radius: 5px;
  margin-right: 2rem;
  margin-top: 1rem;
  font-size: 0.75rem;
}

.removePostButton > * {
  margin: 0 0.2rem;
  align-self: center;
}

.removePostButton:hover {
  background-color: darkred;
  transition: 0.2s ease-in-out;
}

/* POST PAGE */
.postErrorContainer {
  align-self: flex-start;
  height: max-content;
  margin: auto;
}

.postIsDeleted {
  text-align: center;
  padding: 2rem;
  background-color: white;
}

.postIsDeleted > h2 {
  color: black;
  font-size: 1.1rem;
}

.postIsDeleted > h2 > a {
  color: var(--primary-blue-color);
}

/* Phones */
@media only screen and (max-width: 450px) {
  .feedContainer {
    flex-direction: column;
  }
  .feed {
    width: 100%;
    padding: 0 0.5rem;
  }
  .leftBar {
    width: 90%;
    justify-content: center;
    margin: auto;
  }
}
