:root {
  --primary-blue-color: #38b6ff;
}

.footer {
  background-color: var(--primary-blue-color);
  color: white;
  font-size: 0.9rem;
  padding: 3rem 2rem;
  justify-content: center;
  text-align: center;
}

.container {
  padding: 0.5rem 2rem;
  margin: 0 auto;
  max-width: 72rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 900px;
}
