@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import '../App.css';

a:hover {
  background-color: inherit;
}

.navContainer {
  width: 100%;
  background-color: white;
  top: 0;
  position: fixed;
  z-index: 9999999;
}

.navbar {
  padding: 0.5rem 2rem;
  max-width: 72rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  min-height: 4rem;
}

.navMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 0 auto;
}

.navMenu > * {
  margin: 0 0.5rem;
}

/* Buttons */
.myButton {
  cursor: pointer;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  outline: none;
  border: none;
}

.login {
  background-color: white;
  color: black;
  border: 1px solid var(--primary-blue-color);
}

.login:hover {
  border: 0.5px solid whitesmoke;
  font-weight: bold;
  background-color: whitesmoke;
  transition: 0.3s ease-in-out;
}

.signup {
  background-color: var(--primary-blue-color);
  color: white;
}

.signup:hover {
  background-color: var(--hover-blue-color);
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

/* userIcon */

.dropdown {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-left: -12rem;
  border: 0.5px solid lightgrey;
  border-radius: 10px;
  min-width: 15rem;
  padding: 0.5rem 0.5rem;
  background-color: white;
  position: absolute;
}

.navbarIconOption {
  padding: 0.5rem 0.25rem;
  margin: 0.25rem 0;
  font-size: 0.9rem;
}

.navbarIconOption:hover {
  background-color: whitesmoke;
}

.dropdownUser {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
  padding: 0.5rem 0.25rem;
}

.dropdownUser:hover {
  background-color: whitesmoke;
  transition: 0.5s ease-in-out;
}

.dropdownUserImg {
  margin: 0 0.25rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.dropdownName {
  margin: auto 0.5rem;
}

.dropdownName > h3 {
  color: var(--darker-blue-color);
}

.dropdownName > h4 {
  color: var(--light-grey);
  font-size: 0.9rem;
}

.dropPlaceholder {
  min-height: 0.5rem;
  border-bottom: 0.5px solid lightgrey;
}
