@import '../App.css';
:root {
  --input-border-color: rgb(231, 229, 229);
}

.hidden {
  display: none;
}

input {
  max-width: 100%;
}

/* CONTAINERS */

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 2rem auto 10rem auto;
  background-color: white;
  border-radius: 20px;
}

.main {
  padding: 2rem 3rem 5rem 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 36rem;
}

.backgroundContainer {
  max-height: 15rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.imgArea {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
}

.changesContainer {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 1.5rem;
  justify-content: flex-end;
}

.changePassword {
  margin-top: 3rem;
}

/* TEXTS */
.title {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

/* IMAGES */

.profilePicture {
  margin: 0 auto;
  justify-content: center;
  object-fit: cover;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.backgroundImage {
  width: inherit;
  max-height: inherit;
  object-fit: cover;
  justify-content: center;
}

/* BUTTONS */
button:enabled {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

button:disabled {
  opacity: 0.2;
  cursor: not-allowed !important;
}

.profpicButton {
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 1rem;
  width: 11rem;
  padding: 0.5rem 0.2rem;
  background-color: var(--primary-blue-color);
  color: white;
  border: none;
  border-radius: 15px;
}

.profpicButton:hover {
  background-color: black;
  transition: 0.4s ease-in;
}

.changesContainer > button {
  cursor: pointer;
  margin-left: 1.5rem;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  outline: none;
}

.saveButton {
  min-width: 8.5rem;
  border: none;
  background-color: var(--primary-green-color);
  color: white;
  font-weight: bold;
}

.saveButton:hover:enabled {
  background-color: var(--darker-green-color);
  transition: 0.5s ease-in-out;
}

.cancelButton {
  min-width: 6rem;
  background-color: white;
  color: black;
  border: 0.5px solid grey;
}

.cancelButton:hover:enabled {
  border: 0.5px solid red;
  color: red;
  transition: 0.3s ease-in-out;
}

.backgroundButton {
  cursor: pointer;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 0.8rem;
  opacity: 0.6 !important;
  position: absolute;
  bottom: 0;
  margin: auto;
  padding: 0.5rem 1rem;
  border: 0.5px solid black;
  border-radius: 15px;
  justify-content: center;
  left: 50%;
  bottom: 0.5rem;
  transform: translateX(-50%);
}

.backgroundButton:hover {
  opacity: 1 !important;
  transition: 0.4s ease-in-out;
}

.passwordButton {
  cursor: pointer;
  background-color: darkred;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-radius: 10px;
  border: none;
  outline: none;
  min-width: 9rem;
}
.passwordButton:hover:enabled {
  background-color: red;
  transition: 0.2s;
}

/* INPUTS ETC. */

.inputGroup {
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  margin: 1rem 0;
}

.inputGroup > p {
  display: flex;
  font-weight: bold;
  margin: auto;
  margin-left: 0;
  width: 10rem;
}

.inputGroup > input {
  outline: 0.5px solid var(--input-border-color);
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: 10px;
  min-width: 15rem;
}

.inputGroup > textarea {
  outline: 0.5px solid var(--input-border-color);
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: 10px;
  min-width: 15rem;
  resize: none;
  min-height: 6rem;
}

.inputGroup > textarea::placeholder {
  font-size: 0.8rem;
}

/* Phones */
@media only screen and (max-width: 450px) {
  .container {
    margin: 0 1rem;
    width: 100%;
  }
  .main {
    padding: 0.5rem 1rem;
    padding-bottom: 2rem;
  }
  .inputGroup {
    flex-direction: column;
  }
  .imgArea {
    width: 100%;
    justify-content: center;
    margin: 1rem auto;
  }
  .changeProfpicContainer {
    justify-content: center;
    margin: 0 auto;
  }
  .backgroundContainer {
    max-height: 150px;
  }
}
